<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Shows</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <table border="2">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Rating</th>
                <th>Favourite Character</th>
            </tr>
            {% for show in shows %}
            <tr>
                <td>{{show.name}}</td>
                <td>{{show.date}}</td>
                <td>{{show.rating}}</td>
                <td>{{show.fav_character}}</td>
                <td><a href="/delete/{{show.id}}">Delete</a></td>
                <td><a href="/update/{{show.id}}">Update</a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <a href="add/">Add Show</a>
    </body>
</html>